---
title: Welcome to Middleman
---

<div class="container">
	<!-- WIDGET 1 -->
  <div class="row">
		<div class="col-lg-6 text-center">
      <h1>#tedtalks</h1>
      <iframe src="http://snapwidget.com/p/widget/?id=aqV88AwVQc&t=427" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
	</div>

  <!-- WIDGET 2 -->
  <div class="row">
    <div class="col-lg-6 text-center">
      <h1>#brandnewj</h1>      
      <iframe src="http://snapwidget.com/p/widget/?id=IioY2sE98m&t=319" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
    </div>
  </div>

  <!-- WIDGET 3 -->
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>#tedxnavesink</h1>            
      <iframe src="http://snapwidget.com/p/widget/?id=fnQ1MH9kmb&t=467" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
    </div>
  </div>    
</div>