---
title: Welcome to Middleman
---

<div class="container">
	<div class="row">
		<div class="col-lg-12 jumbotron text-center">
			  <h2>The most awesome Middleman Boilerplate!</h2>
			  <p>made by: Danny Vassallo <i class="fa fa-thumbs-up"></i></p>
			  <p><a class="btn btn-primary btn-lg" href="https://danny-portfolio.herokuapp.com" role="button">Check me out here!</a></p>
		</div>
	</div>
</div>